<script setup>
import Layout from '@/Layouts/SearchLayout.vue';
import { Head } from '@inertiajs/vue3';
import { useForm } from '@inertiajs/vue3';


const post = defineProps({
   post: Object,
   user: Object,
   created: Object,
   status: Boolean
});

const form = useForm({

})

const destroy = () => {
    form.delete(`/delete/${post.post.id}`, {
        
    });
};

</script>

<template>
  <Head :title="post.post.title" />


  <Layout></Layout>

  <br><br><br><br>
  <div v-if="$page.props.flash.message">
        <div class="flex p-4 mb-4 w-11/12 ml-10 mt-2 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
          <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium">
               {{ $page.props.flash.message }}
            </span>
          </div>
        </div>
  </div>

  <main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue">
            <header class="mb-4 lg:mb-6 not-format">
                <address class="flex items-center mb-6 not-italic">
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900">
                        <div>
                            <p href="#" rel="author" class="text-xl font-bold text-gray-900">{{ user.name }}</p>
                            <p class="text-base font-light text-gray-500">{{ created }}</p>
                        </div>
                    </div>
                </address>
                <a :href="'/search/'+post.post.title" class="bg-orange-500 text-white p-2 rounded-full">همین را سرچ کن</a>
                <br><br>
                <div v-if="status" class="flex flex-row mb-5">
                    <a :href="'/edit/'+post.post.title+'/'" class="bg-blue-600 text-white w-fit h-fit p-2 rounded-full mr-5">
                      ویرایش
                    </a>
                    <button @click="destroy(post.post.id)" class="bg-red-600 text-white w-fit h-fit p-2 rounded-full">
                      حذف
                    </button>
                </div>
                <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl">{{ post.post.title }}</h1>
            </header>
              
              <p>{{ post.post.summarize }}</p>


            <figure>
              <img :src="'/'+post.post.img" alt="" class="my-8 rounded-lg">
              <!-- <figcaption>Digital art by Anonymous</figcaption> -->
            </figure>

            <p>{{ post.post.article }}</p>
          </article>

    </div>
  </main>

<br><br>

</template>

<style>
  * {
    font-family: Vazirmatn;
  }
</style>