<script setup>
import Layout from '@/Layouts/SearchLayout.vue';
import { Head } from '@inertiajs/vue3';
</script>

<template>
    <div class="v91_32">
        <Head title="درباره ما" />

        <Layout></Layout>

        <span class="v91_40">:ما چه کاری انجام می دهیم</span>
        <span class="v91_42">ما اول موضوع شما
            ویکی پدیا سرچ می کنیم و موضوع را درک می کنیم بعد از انجام این کار با استفاده ار API chatGPT خلاصه ای از متن را
            دریافت می کنیم و آن را در قسمت خلاصه قرار می دهیم و بعد از آن مقاله ای جامع و مفید را دریافت می کنیم و آن را در
            بخش مقاله قرار می دهیم که علاقه مندان به موضوع آن را مطالعه کنند.
            و همچنین بعد از جستوجو در سایت دکمه پسندیده در دکمه سمت چپ قرار دارد که اگر کاربر از نتیجه راضی بود ما آن را در
            پایگاه داده ذخیره می کنیم و برای دفعات بعد دیگر آن موضوع را از ویکی پدیا و chatGPT درخواست نمی کنیم و آن را از
            پایگاه داده خود سایت می آوریم.</span>
            
            <span class="v91_43">:چه چیزی را نباید در قسمت جستوجو نوشت </span>
            <span
            class="v91_45">در قسمت جستوجو سایت فقط کلمات کلیدی را بنویسید و از نوشتن کلماتی چون چرا , چگونه , برای چه و ...
            خودداری کنید تا بتوانیم نتایج بهتری را به شما ارائه دهیم</span>

            <span class="v91_46">:)</span>
    </div>
</template> 
<style>
* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.v91_32 {
    width: 100%;
    height: 1024px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v91_33 {
    width: 55px;
    height: 55px;
    background: url("../images/v91_33.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 120px;
    overflow: hidden;
}

.v91_34 {
    width: 78px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 40px;
    left: 1242px;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
}

.name {
    color: #fff;
}

.v91_36 {
    width: 78px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 40px;
    left: 1140px;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
}

.name {
    color: #fff;
}

.v91_38 {
    width: 78px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 40px;
    left: 1038px;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
}

.name {
    color: #fff;
}

.v91_40 {
    width: 355px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 224px;
    left: 965px;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
}

.v91_42 {
    width: 792px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 289px;
    left: 528px;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: right;
}

.v91_43 {
    width: 563px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 623px;
    left: 757px;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: right;
}

.v91_45 {
    width: 792px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 681px;
    left: 528px;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: right;
}

.v91_46 {
    width: 792px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 781px;
    left: 528px;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: right;
}

@media only screen and (max-width: 480px) {
    * {
    box-sizing: border-box;
  }

  body {
    font-size: 14px;
  }

  .v96_46 {
    width: 360px;
    height: 640px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }


  .v91_40 {
    width: 222px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 127px;
    left: 128px;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }

  .v91_42 {
    width: 322px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 174px;
    left: 28px;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: right;
  }

  .v91_43 {
    width: 222px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 446px;
    left: 128px;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: right;
  }

  .v91_45 {
    width: 296px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 508px;
    left: 54px;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: right;
  }
}
</style>