<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/vue3';
</script>

<template>
    <Head title="داشبورد" />

    <AuthenticatedLayout>

        <div v-if="$page.props.flash.message">
                <div class="flex p-4 mb-4 w-11/12 ml-10 mt-2 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Info</span>
                <div>
                    <span class="font-medium">
                    {{ $page.props.flash.message }}
                    </span>
                </div>
                </div>
        </div>

        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">داشبورد</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-7 lg:px-9">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 text-gray-900">!شما وارد شده اید</div>
                    <a :href="route('home')" class="p-6 text-sky-500">!یک چیز تازه سرچ کن</a>
                    <br>
                    <a href="/create" class="p-6 text-sky-500">!یک پست تازه بساز</a>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
