<script setup>
import Layout from '@/Layouts/SearchLayout.vue';
import { Head } from '@inertiajs/vue3';
import { reactive } from 'vue';
import { router } from '@inertiajs/vue3';
import { useForm } from '@inertiajs/vue3';

const props = defineProps(['summarize', 'article', 'img', 'okay']);
const img = props['img'];
const key = props['okay'];

const form = useForm({
  key_word: props["okay"],
  summarize: props["summarize"],
  article: props["article"],
  img_src: props["img"],
})

const search = useForm({
    search: '',
}) 

function submitForm(){
    window.location.href= '/search/'+search.search;
}

function like() {
    form.post('/like')
}


</script>

<template>
    <Head>
        <title>{{ key }}</title>
    </Head>
<Layout></Layout>


    <img v-bind:src="img" v-bind:alt="key" class="v110_2">

    <form @submit.prevent="like()">
        <button type="submit" class="like" id="like" @click="change()"></button>
    </form>

    <div class="name"></div>
    <div class="name"></div><span class="v69_23">: خلاصه</span>
    <div class="name"></div>

    <div class="v69_25">{{ summarize }}</div>
        

    <span class="v72_3">: مقاله</span>
    <div class="name"></div>

    <div class="v72_6">
        {{ article }}
    </div>

    <form method="get" v-on:submit.prevent="submitForm()">
        <input class="v77_2" placeholder="...بیابید" v-model="search.search" @keyup.enter="submitForm()">
    </form>

    <!-- <div v-if="form.errors.key_word">{{ form.errors.key_word }}</div> -->
    <div v-if="form.errors.summarize">{{ form.errors.summarize }}</div>
    <div v-if="form.errors.article">{{ form.errors.article }}</div>
    <div v-if="form.errors.img_src">{{ form.errors.img_src }}</div>

</template>

<style>
* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.v69_8 {
    width: 100%;
    height: 1686px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v69_10 {
    width: 55px;
    height: 55px;
    background: url("../img/azar.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 33px;
    left: 120px;
    overflow: hidden;
}

.v69_18 {
    width: 78px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 33px;
    left: 1242px;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
}

.name {
    color: #fff;
}

.v69_20 {
    width: 78px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 33px;
    left: 1140px;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
}

.name {
    color: #fff;
}

.v69_23 {
    width: 102px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 666px;
    left: 1121px;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
}

.name {
    color: #fff;
}

.v69_25 {
    width: 997px;
    height: 522px;
    background: rgba(255, 183, 102, 1);
    opacity: 1;
    position: absolute;
    top: 832px;
    left: 222px;
    overflow: hidden;
    color: rgb(255, 255, 255);
    position: absolute;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
    padding: 30px;
}

.v69_26 {
    width: 884px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 329px;
    left: 339px;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}

.v72_3 {
    width: 91px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1430px;
    left: 1127px;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
}

.name {
    color: #fff;
}

.v72_6 {
    width: 997px;
    height: auto;
    background: rgba(255, 183, 102, 1);
    opacity: 1;
    position: absolute;
    top: 1630px;
    left: 222px;
    overflow: hidden;
    color: rgba(255, 255, 255, 255);
    position: absolute;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
    padding: 30px;
}

.v72_7 {
    width: 868px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1127px;
    left: 350px;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}

.v77_2 {
    width: 588px;
    height: 64px;
    background: rgba(217, 217, 217, 1);
    opacity: 1;
    position: absolute;
    top: 23px;
    left: 426px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}

.v77_3 {
    width: 150px;
    color: rgba(107, 107, 107, 1);
    position: absolute;
    top: 30px;
    left: 850px;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: right;
}

.v77_4 {
    width: 588px;
    height: 64px;
    background: rgba(217, 217, 217, 1);
    opacity: 1;
    position: absolute;
    top: 23px;
    left: 426px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.v77_5 {
    width: 150px;
    color: rgba(107, 107, 107, 1);
    position: absolute;
    top: 30px;
    left: 850px;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: right;
}

.v110_2 {
    width: 588px;
    height: 538px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 122px;
    left: 426px;
    overflow: hidden;
}

.like {
    background-image: url("/img/like.png");
    width: 24px;
    height: 24px;
    opacity: 1;
    position: absolute;
    left: 130px;
    top: 130px;
}

.container {
    display: flex;
    align-items: flex-end;
} 


@media only screen and (max-width: 480px) {
    body {
    font-size: 14px;
  }

    .v77_2 {
    display: none;
  }
  .v69_18 {
            width: 56px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 14px;
            left: 304px;
            font-family: Vazirmatn;
            font-weight: Regular;
            font-size: 12px;
            opacity: 1;
            text-align: center;
        }

        .v69_20 {
            width: 56px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 14px;
            left: 228px;
            font-family: Vazirmatn;
            font-weight: Regular;
            font-size: 12px;
            opacity: 1;
            text-align: center;
        }

        .v69_22 {
            width: 56px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 14px;
            left: 152px;
            font-family: Vazirmatn;
            font-weight: Regular;
            font-size: 12px;
            opacity: 1;
            text-align: center;
        }

        .v69_10 {
            width: 55px;
            height: 55px;
            /* background: url("../images/v54_26.png"); */
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 1;
            position: absolute;
            top: 2px;
            left: 0px;
            overflow: hidden;
        }

  .v69_23 {
    width: 102px;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 303px;
    left: 241px;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }


  .v69_25 {
    width: 250px;
    height: auto;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 396px;
    left: 65px;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }


  .v72_3 {
    width: 102px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 692px;
    left: 241px;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }


  .v72_6 {
    width: 250px;
    height: auto;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 778px;
    left: 68px;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }

  .v110_2 {
        width: 208px;
        height: 198px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 72px;
        left: 76px;
        overflow: hidden;
  }
}
</style>

<script>
    export default {
        data() {
            return {
                search: {
                    search: ''
                }
            }
        },
        methods: {
            submitForm(){
                window.location.href= '/search/'+this.form.search;
            },
            change() {
                document.getElementById("like").style.backgroundImage = "url(/img/like-red.png)";
            }
        }
    }
</script>