<script setup>
  import Layout from '@/Layouts/SearchLayout.vue';
  import { Head } from '@inertiajs/vue3';
  import moment from 'moment';
//   import Vue from 'vue'

    function formatDate (value) {
        return moment(value).fromNow()
    };


 const tops = defineProps({
    tops: Object,
  });

</script>

<template>
  <Head title="جستوجو های برتر هفته" />

  <Layout></Layout>

<div class="container mx-auto p-4 mt-36" id="vazir">
  <h1 class="text-2xl font-bold mb-4">برترین سرچ های هفته</h1>
  <ul class="grid grid-cols-3 gap-4">
    <div v-for="value in tops.tops">
      <li class="bg-white shadow-lg rounded-lg p-4">
        <h2 class="text-lg font-semibold truncate"><a :href="'/search/'+value.key_word"> {{ value.key_word }} </a></h2>
        <p class="text-sm text-gray-600">{{ value.views }} بازدید</p>
        <a :href="'/search/'+value.key_word">
          <button class="mt-5 mb-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">جستوجو کن</button>
        </a>
          <p class="text-sm text-gray-600">{{ formatDate(value.updated_at) }}</p>
      </li>
    </div>
  </ul>
</div>



</template>

<style>
 #vazir {
    font-family: Vazirmatn;
 }
</style>