<script setup>
import Layout from '@/Layouts/SearchLayout.vue';
import { useForm } from '@inertiajs/vue3'
import { Head } from '@inertiajs/vue3';

const history = defineProps({
    historys: Object,
});

var m = history.historys;
var arr = []


function mounted() {
    document.addEventListener('click', handleClickOutside);
};

function destroyed() {
    document.removeEventListener('click', handleClickOutside);
};

var results = [];
var isOpen = false;
var arrowCounter = -1;
var arr = [];
const form = useForm({
  search: '',
})


function makeArr() {
    m.forEach(element => {
        arr.push(element.search_text)
    });
}

makeArr()

function filterResults() {
    results = arr.filter(item => item.toLowerCase().indexOf(form.search.toLowerCase()) > -1);
    if (results.length == 0) {
        results = ['تا حالا این کلمه رو سرچ نکردی']
    }
}

function onChange() {
    filterResults();
    isOpen = true;
}

function setResult(result) {
    form.search = result;
    isOpen = false;
}

function handleClickOutside(event) {
    if (!$el.contains(event.target)) {
        arrowCounter = -1;
        isOpen = false;
    }
}

function onArrowDown() {
    if (arrowCounter < results.length) {
    arrowCounter = arrowCounter + 1;
    }
}
            
function onArrowUp() {
    if (arrowCounter > 0) {
        arrowCounter = arrowCounter - 1;
    }
}

function onEnter() {
    search = results[arrowCounter];
    arrowCounter = -1;
    isOpen = false;
}

function submitForm(){
    window.location.href= '/search/'+form.search;
}


</script>

<template>
    <Head title="خانه" />

    <div class="container">
        <!-- <div class="search-image"></div> -->

        <!-- <span class="v10_16">راه حلی آسان برای سردرگمی ها و پیدا کردن آسان مطالب
            و صرفه جوی در زمان برای کار های مختلف مانند مقاله . تحقیق و ...
        </span> -->

    <div class="sbox">
        <form v-on:submit.prevent="submitForm" method="get" autocomplete="off" class="search">
            <div class="autocomplete" style="width:300px;" v-on:click="make">
                <bu class="search-icon-container">
                    <button class="search-btn">
                        <i class="fa-solid fa-magnifying-glass" id="search-icon"></i>
                    </button> 
                </bu>
                <input
                    placeholder="هرچی دلت میخواد بنویس"
                    id="search-input"
                    v-model="form.search"
                    @keyup.enter="submit"
                    @input="onChange"
                    @keydown.down="onArrowDown"
                    @keydown.up="onArrowUp"
                    @keydown.enter="onEnter"
                >
                <ul
                    v-show="isOpen"
                    class="autocomplete-results"
                >
                
                    <li
                        v-for="(result, i) in results"
                        :key="i"
                        @click="setResult(result)"
                        class="autocomplete-result"
                        :class="{ 'is-active': i === arrowCounter }"
                    >
                    {{ result }}
                    </li>
                </ul>

            </div>
        </form>
    </div>


        <Layout></Layout>


        <span class="v7_13">“بهترین کار ها با همکاری انجام می شود”</span>
    </div>

</template>

<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html, body {margin: 0; height: 100%; overflow: hidden}

    body {
        background-image: url("https://source.unsplash.com/random/?4k background");
        background-repeat: no-repeat;
        display: block;
        width: 100%;
        height: 100vh;
        background-position: center;
        background-size: cover;
        font-size: 12px;
    }

    .sbox {
        position: absolute;
        top: 50%;
        left: 30%;
    }

    .search {
        width: 200%;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.12);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
    }

    #search-input {
        margin: 0;
        width: 584px;
        height: 100%;
        padding: 15px;
        margin-left: 40px;
        border-radius: 30px;
        font-size: 22px;
        border: none;
        color: white;
        cursor: pointer;
        line-height: 20px;
        background: none;
        font-family: Vazirmatn;
    }

    #search-input:focus {
    outline: none;
    border: none;
    }

    .search-icon-container {
        position: absolute;
        top: 0;
        left: 30px;
        margin-left: 10px;
        bottom: 0;
        display: flex;
        align-items: center;
        display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 1px;
            z-index: 1;
            transition: opacity var(--a-fast) var(--a-curve);
    }

    .search-btn {
        background: none;
        border: none;
        outline: none;
    }

    #search-icon {
        color: #ffffff;
        font-size: 28px;
    }

.autocomplete {
    position: relative;
  }

  .autocomplete-results {
    position: absolute;
    top: 526px;
    left: 527px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 0;
    border: 1px solid rgb(205, 205, 205);
    height: 120px;
    min-height: 1em;
    max-height: 6em;    
    overflow: auto;
    width: 558px;
    background-color: rgba(217,217,217,1);
  }

  .autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 4px 2px;
    cursor: pointer;
  }

  .autocomplete-result.is-active,
  .autocomplete-result:hover {
    background-color: rgba(180, 180, 180,1);
    color: white;
  }


    .search-image {
        width: 491px;
        height: 361px;
        background: none;
        background-image: url('./img/image.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 20%;
        left: 5%;
        border-top-left-radius: 42px;
        border-top-right-radius: 42px;
        border-bottom-left-radius: 42px;
        border-bottom-right-radius: 42px;
        overflow: hidden;
    }




    .v7_13 {
        width: 380px;
        color: white;
        position: absolute;
        top: 90%;
        left: 40%;
        font-family: Vazirmatn;
        font-weight: Regular;
        font-size: 24px;
        opacity: 1;
        text-align: left;
    }

    @media only screen and (max-width: 480px) {
        * {
    box-sizing: border-box;
  }

  body {
    font-size: 14px;
  }



  .v7_13 {
    width: 222px;
    color: white;
    position: absolute;
    top: 70%;
    left: 40%;
    font-family: Vazirmatn;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }

  .search-image {
    width: 164px;
    height: 149px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 20%;
    left: 50%;
    border-top-left-radius: 42px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    overflow: hidden;
  }

  .search {
    width: 17rem;
  }

  #search-input {
        width: 300px;
        height: 200%;
        padding: 10px;
        margin-left: 30px;
        font-size: 14px;
        line-height: 15px;
  }

  #search-icon {
    font-size: 12px;
  }
}
</style>