<template>
    <nav>
        <a href="/" class="link"> خانه</a>
        <a href="/about" class="link">درباره ما</a>
        <a href="/login" class="link">ورود</a>
        <a href="/top" class="link">سرچ های برتر</a>
        <a href="/top_posts" class="link">پست های برتر</a>
        <div class="v69_10"></div>
    </nav>
</template>

<style>
    nav {
        color: black;
        display: flex;
        flex-wrap: nowrap;
        direction: rtl;
    }

    .link {
        width: 78px;
        margin: 10px;
        font-family: Vazirmatn;
        font-weight: Regular;
        font-size: 12px;
        opacity: 1;
        text-align: center;
    }


    .v69_10 {
    width: 55px;
        height: 55px;
        background: url("/img/azar.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 33px;
        left: 120px;
        overflow: hidden;
    }
       

    @media only screen and (max-width: 480px) {
        * {
            box-sizing: border-box;
        }

        body {
            font-size: 14px;
        }

    }
</style>